*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.selected {
  background-color: #ddd;
}
