
@media(prefers-color-scheme: light) {
  #app {
    --bg-primary: #eee;
    --bg-secondary: #ddd;
    --accent: #88d;
    --text: #333;
  }
}

@media(prefers-color-scheme: dark) {
  #app {
    --bg-primary: #333;
    --bg-secondary: #222;
    --accent: #448;
    --text: #eee;
  }
}

#app {
  height: 100vh;
  overflow: hidden;
  color: var(--text);
  background-color: var(--bg-secondary);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 1001;
  background-color: var(--bg-primary);
}

.main {
  display: flex;
  height: 100%;
}

.center-panel {
  flex-grow: 1;
  position: relative;
}

.canvas-container {
  position: relative;
  background-color: var(--bg-primary);
}

.canvas-container svg {
  vertical-align: top;
}

.canvas-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  circle:hover {
    cursor: pointer;
    fill: var(--accent);
  }
  path:hover {
    cursor: pointer;
    stroke: var(--accent);
  }
}

.center-panel-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-primary);
  user-select: none;
  z-index: 1001;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  p {
    display: inline-block;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 0.9em;
  }
  p + p {
    border-left: 1px solid var(--text);
  }
}

.right-panel {
  width: 16em;
  box-shadow: 0 0 1em gray;
  background-color: var(--bg-primary);
  z-index: 1000;
}

.right-panel > p {
  padding: 1em;
}

.layer-list {
  user-select: none;
}

.layer-list > button {
  border-radius: 0;
  width: 100%;
  border: 0;
  padding: 0.4em;
}

.layer-list ul li {
  &:hover {
    background-color: var(--accent);
  }
  div {
    padding: 0.2em;
    p {
      min-width: 1em;
      padding: 0.3em;
      cursor: pointer;
      display: inline-block;
    }
    &.hidden-layer {
      color: gray;
    }
    &.selected {
      background-color: var(--accent);
    }
  }
}

.layer-info {
  padding: 1em;
  .layer-name-input {
    padding: 0.3em;
    width: 100%;
    background-color: var(--bg-primary);
    color: var(--text);
    font-size: 1.1em;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--text);
    transition: 0.2s;
    &:focus {
      border-bottom-color: var(--accent);
    }
  }
  .style-input {
    display: flex;
    justify-content: space-between;
    margin: 0.2em 0;
    > dt {
      flex-shrink: 0;
    }
    > dd {
      margin-left: 0;
    }
  }
}

.draw-path-commands li > div > div {
  display: inline-block;
  padding-left: 1em;
}

.input {
  margin: 0.1em;
  width: 6em;
  border: 0;
  border-radius: 0.1em;
  background-color: var(--bg-secondary);
  color: var(--text);
  outline-color: var(--accent);
}
