
@media(prefers-color-scheme: light) {
  #app {
    --bg-primary: #eee;
    --bg-secondary: #ddd;
    --accent: #88d;
    --text: #333;
  }
}

@media(prefers-color-scheme: dark) {
  #app {
    --bg-primary: #333;
    --bg-secondary: #222;
    --accent: #448;
    --text: #eee;
  }
}

#app {
  height: 100vh;
  overflow: hidden;
  color: var(--text);
  background-color: var(--bg-secondary);
}

.root {
  display: flex;
  height: 100%;
}

.center-panel {
  flex-grow: 1;
  position: relative;
}

.canvas-container {
  position: relative;
  background-color: var(--bg-primary);
}

.canvas-container svg {
  vertical-align: top;
}

.canvas-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.center-panel-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-primary);
  p {
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
}

.right-panel {
  width: 16em;
  box-shadow: 0 0 1em gray;
  background-color: var(--bg-primary);
  z-index: 1000;
}

.right-panel > p {
  padding: 1em;
}

.layer-list {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.layer-list > button {
  border-radius: 0;
  width: 100%;
  border: 0;
  padding: 0.4em;
}

.layer-list ul li {
  &:hover {
    background-color: var(--accent);
  }
  div p {
    padding: 0.4em;
    cursor: pointer;
    display: inline-block;
  }
  .hidden-layer p {
    color: gray;
  }
  .selected {
    background-color: var(--accent);
  }
}

.layer-info {
  padding: 1em;
  .style-input {
    display: flex;
    justify-content: space-between;
    margin: 0.2em 0;
    > dt {
      flex-shrink: 0;
    }
    > dd {
      margin-left: 0;
    }
  }
}

.draw-path-commands li > div > div {
  display: inline-block;
  padding-left: 1em;
}

.input {
  margin: 0.1em;
  width: 6em;
  border: 0;
  border-radius: 0.1em;
  background-color: var(--bg-secondary);
  color: var(--text);
  outline-color: var(--accent);
}
